bin/
obj/
out/
*.user
.vs/


# Build artifacts
*.zip
publish/
temp_inspect/
temp_payload/
temp_x64_payload/
%TEMP%/
*.pfx
*.cer
 
MicrosoftStore/*.msix
MicrosoftStore/*.msixbundle
MicrosoftStore/bundle_mapping.txt
